@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
 body, html {
     font-family: "Roboto", sans-serif;
     background-color: #F9F9F9;
     height: 100%;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin: 0 auto;
     padding: 0 auto;
}

 .header {
     color: #202125;
     margin-bottom: 40px;
}
 .header h2 {
     font-weight: 600;
}
 .header p {
     font-weight: 300;
}
 .wrapper {
     min-width: 700px;
     margin: 0 auto;
}
 .gantt {
     display: grid;
     border: 0;
     position: relative;
     overflow: hidden;
     box-sizing: border-box;
}
 .gantt__row {
     display: grid;
     grid-template-columns: 250px 1fr;
     background-color: #fff;
}
 .gantt__row:nth-child(odd) {
     background-color: #fff;
}
 .gantt__row:nth-child(odd) .gantt__row-first {
     background-color: #fff;
}
 .gantt__row:nth-child(3) .gantt__row-bars {
     border-top: 0;
}
 .gantt__row:nth-child(3) .gantt__row-first {
     border-top: 0;
}
 .gantt__row--empty {
     background-color: #ffd6d2 !important;
     z-index: 1;
}
 .gantt__row--empty .gantt__row-first {
     border-width: 1px 1px 0 0;
}
 .gantt__row--lines {
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: transparent;
     grid-template-columns: 250px repeat(28, 1fr);
}
 .gantt__row--lines span {
     display: block;
     border-right: 1px solid rgba(0, 0, 0, 0.1);
}
 .gantt__row--lines span.marker {
     background-color: rgba(251, 255, 37, 0.205);
     z-index: 2;
}
 .gantt__row--lines:after {
     grid-row: 1;
     grid-column: 0;
     background-color: #1688b3 45;
     z-index: 2;
     height: 100%;
}
 .gantt__row--months {
     color: #666666;
     background-color: #F2F4F6 !important;
     border-bottom: 1px solid #DFE5E9;
     grid-template-columns: 250px repeat(28, 1fr);
}
 .gantt__row--months .gantt__row-first {
     border-top: 0 !important;
     background-color: #F2F4F6 !important;
}
 .gantt__row--months span {
     text-align: center;
     font-size: 13px;
     align-self: center;
     font-weight: bold;
     padding: 20px 0;
}
 .gantt__row-first {
     background-color: #fff;
     padding: 15px 0;
     font-size: 13px;
     font-weight: bold;
     text-align: center;
}
.gantt__row-first p{
    position: absolute;
    left:50px;
}
 .gantt__row-bars {
     list-style: inline;
     display: grid;
     padding: 9px 0;
     margin: 0;
     grid-template-columns: repeat(28, 1fr);
     grid-gap: 8px 0;
     border-top: 0px solid rgba(221, 221, 221, 0.8);
}
.gantt__row-bars span{
    border-radius: 3px;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
}
.nested{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
}
.nested span{
    border-radius: 3px;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
}
.nested-3fr{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}
.nested-3fr span{
    border-radius: 3px;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
}
.nested-4fr{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
.nested-4fr span{
    border-radius: 3px;
    padding: 10px;
    min-height: 40px;
    cursor: pointer;
}
.style-text{
    color: white;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    z-index: 5;
}






 .gantt__row-bars li {
     font-weight: 500;
     text-align: left;
     font-size: 14px;
     min-height: 15px;
     background-color: #55de84;
     padding: 5px 12px;
     color: #fff;
     overflow: hidden;
     position: relative;
     cursor: pointer;
     border-radius: 20px;
}
 .gantt__row-bars li.stripes {
     background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 12px);
}
 .gantt__row-bars li:before, .gantt__row-bars li:after {
     content: "";
     height: 100%;
     top: 0;
     z-index: 4;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.3);
}
 .gantt__row-bars li:before {
     left: 0;
}
 .gantt__row-bars li:after {
     right: 0;
}
